extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
  +alert(3000)
  section.login-banner.py-24.text-center
    h2.text-5xl.font-bold.serif-font.italic.mb-4.drop-shadow-lg(class='md:text-6xl text-[#D2B48C]') Đăng ký
    p.text-xs.uppercase.font-medium(class='text-white/80 md:text-sm tracking-[0.4em]')
      | Trang chủ / 
      //- Đã xóa dấu chấm ở đây
      span(class='text-[#D2B48C]') Đăng ký
  main.container.mx-auto.px-6.-mt-16.mb-20.relative.z-10
    .max-w-lg.mx-auto.bg-white.shadow-2xl.p-10.border(class='rounded-[40px] md:p-14 border-black/5')
      form.space-y-6(action='/user/register' method='POST')
        div
          label.uppercase.font-black.tracking-widest.text-neutral-400.block.mb-2.ml-1(class='text-[11px]') Họ và tên
          input.w-full.px-6.py-4.rounded-2xl.text-sm.font-medium.border.border-neutral-100(type='text' name='fullName' placeholder='Nguyễn Văn A' class='focus:border-[#D2B48C] outline-none transition-all' required)
        
        div
          label.uppercase.font-black.tracking-widest.text-neutral-400.block.mb-2.ml-1(class='text-[11px]') Tài khoản Email
          input.w-full.px-6.py-4.rounded-2xl.text-sm.font-medium.border.border-neutral-100(type='email' name='email' placeholder='nhapemail@gmail.com' class='focus:border-[#D2B48C] outline-none transition-all' required)
        
        div
          label.uppercase.font-black.tracking-widest.text-neutral-400.block.mb-2.ml-1(class='text-[11px]') Số điện thoại
          input.w-full.px-6.py-4.rounded-2xl.text-sm.font-medium.border.border-neutral-100(type='text' name='phone' placeholder='090xxxxxxx' class='focus:border-[#D2B48C] outline-none transition-all')

        div
          label.uppercase.font-black.tracking-widest.text-neutral-400.block.mb-2.ml-1(class='text-[11px]') Mật khẩu
          input.w-full.px-6.py-4.rounded-2xl.text-sm.font-medium.border.border-neutral-100(type='password' name='password' placeholder='********' class='focus:border-[#D2B48C] outline-none transition-all' required)
        
        .flex.items-center.gap-2.text-xs.font-bold.px-1
          input#terms.w-4.h-4.rounded.border-gray-300.text-black(type='checkbox' required class='focus:ring-black')
          label.cursor-pointer.text-neutral-600(for='terms') Tôi đồng ý với Điều khoản & Chính sách

        button.w-full.py-5.rounded-2xl.font-black.text-sm.uppercase.shadow-xl.transition-all(type='submit' class='tracking-[0.2em] bg-black text-[#D2B48C] hover:bg-[#D2B48C] hover:text-black shadow-[#D2B48C]/10')
          | Tạo tài khoản ngay


        .text-center.mt-8
          p.text-xs.font-bold.text-neutral-600
            | Bạn đã có tài khoản? 
            a.ml-1.transition-colors(href='/user/login' class='text-[#D2B48C] hover:text-black') Đăng nhập ngay